
/*-------------
 CSS RESET 
--------------*/

* {padding: 0; 
  border: 0; 
  margin: 0;}
a {text-decoration: none;}
li {list-style: none;}

h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight:500;
}

/*overall*/
body{
  /*background-color: #3f2afe;*/
}
a{text-decoration: none !important;}
*{
  font-family: "Avenir","Monospaced Number","Chinese Quote",-apple-system,"BlinkMacSystemFont","Segoe UI","Roboto,PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0px;
  color: rgb(109, 109, 109);
}
ul{
  padding-left: 16px;
}
.highlight-green{background-color: rgba(84, 185, 118, 30%);}
.highlight-blue{background-color: rgba(83, 172, 255, 0.308);}
.highlight-pink{background-color: rgba(235, 150, 228, 0.219);}
.underline{
  width: 100%;
  border-bottom: 1px solid rgba(109, 109, 109, 0.5);
  margin-bottom: 16px;
}

/*document*/

.body-wrapper{
  background-color: #fff;
}
.body-container{
  width: 1060px;
  margin: 0 auto;
}
.header{
  background-color: #3f2afe;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 0 auto 48px auto;
}
.title{
  display: inline-block;
  width:1060px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: #c9f42e;
  letter-spacing: 0.5em;
  margin: 88px auto 32px auto;
}
.title:hover{
  text-decoration: red line-through;
}
.sub-title{
  display: block;
  width:1060px;
  text-align: left;
  font-size: 100px;
  line-height: 120px;
  font-weight: 900;
  color: #0e0436;
  background-color: #c9f42e;
  margin: 8px auto 40px auto;
}
.sub-title:hover{
  background-color: transparent;
  color: #fff;
}
.guess1{
  background-color: #9176FF;
  width: 520px;
  height: 442px;
  display: inline-block;
  float: left;
}
.guess1:hover{
  background-color: #9176FF;
  transform: scale(0.0001) rotate(360deg);
  transition: all 25s ease-out;
}
.guess2{
  background-color: #ff4700;
  width: 180px;
  height: 180px;
  display: inline-block;
  position: absolute;
  top: 300px;
  transform: rotate(45deg);
}
.guess2:hover{
  background-color: rgb(212, 0, 255);
  width: 180px;
  height: 180px;
  display: inline-block;
  position: absolute;
  top: 300px;
  border-radius: 90px;
  transform: rotate(3000deg);
  transition: all 2s ease-in;
}
.guess3{
  background-color: rgb(255, 213, 27);
  width: 240px;
  height: 360px;
  display: inline-block;
  position: absolute;
  top: 640px;
  right: 30px;
}
.guess3:hover{
  background-color: rgb(255, 213, 27);
  width: 240px;
  height: 360px;
  display: inline-block;
  position: absolute;
  top: 540px;
  right: 180px;
  box-shadow: 0 40px 60px 0 rgba(0,0,0,0.39);
  transition: all 4s ease-out;
}
.btn-basic{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  text-align: center;
  font-weight: 500;
  line-height: 100px;
  color: #fff;
  background-color: #07061d;
  margin: 0px auto;
  position: absolute;
  top: 650px;
  left: 510px;
}
.btn-basic:hover{
  box-shadow: 0 -5px 40px 0 rgba(0,0,0,0.39);
  transform: rotate(12600deg);
  transition: all 1s;
}
.contributors div{
  color: rgb(44, 33, 199);
  font-weight: 900;
}
.index-container{
  display: inline-block;
  height: 80px;
  margin : 0 32px 4px 32px;
  overflow: hidden;
}
.index{
  display: block;
  text-align: left;
  font-size: 24px;
  color: #929292;
  line-height: 40px;
}
.index-container:hover{
  transform: scale(1.01);
  transition: all ease-in;
}
.index-inner{
  line-height: 40px;
  display: block;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  text-overflow:ellipsis;
}

.index:after{
  clear: both;
  content : "";
  display: block;
}
.summary_title{
  color: #0e0436;
  text-align: left;
  font-size: 72px;
  line-height: 120px;
  font-weight: 900;
}

a.reference-link{
  font-weight: 500;
  line-height: 1.5em;
  color: #4d8bfd;
  margin: 40 auto;
  display: block;
}
.contents{
  padding: 24px 16px;
  margin: 16px 0;
}
.content-title{
  margin: 0 0 16px 0;
  display: block;
  font-size: 24px;
  font-style: italic;
  line-height: 40px;
}
.writer{
  font-size: 12px;
  line-height: 40px;
  float: right;
}
.comment{
  font-size: 12px;
  font-style: italic;
}
.content-subtitle{
  font-weight: bold;
  margin-bottom: 8px;
}
.description{
  margin-bottom: 16px;
  display: block;
}
.example-code{
  font-family: "IBMPlexMono", "UbuntuMono", monospace, serif; 
  font-size: 14px;
  margin-bottom: 24px;
  line-height: 1.6em;
  background-color: #f1f3f5;
  border-radius: 4px;
  padding: 24px 32px;
  margin: 16px 0 ;
  display: block;
}
.practice-container{
  padding: 24px 32px;
  margin: 16px 0;
  border-radius: 16px;
  background-color: #fafcff;
}
.check-container{
  padding: 24px 32px;
  margin: 16px 0;
  border-radius: 16px;
  background-color: #f9f9f9;
}
.sub-contents-container{
  display: flex;
  width:100%;
}
.sub-contents-left{
  display: inline-block;
  width:30%;
}
.sub-contents-right{
  display: inline-block;
  width: 70%;
  padding: 8px 16px;
}

.example-img img{
  width: 100%;
}
.example-img img:hover{
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.23);
}
#margin-ex1{
  display: inline-block;
  position: absolute;
  align-content: center;
  height: 154px;
  margin: 32px 0 0 16px;
}
#float-right{
  display: inline-block;
}

header {
  margin : 20px 0 20px 0;
}
footer {
  margin-top: 20px;
}


/*shapes*/
#margin-ex-container{
  display: flex;
  width: 100%;
}
#margin-ex-code{
  display: flex;
  margin-left: 24px;
  width:754px;
}
.margin-ex1{
  position: relative;
  display: inline-block;
  width: 310px;
  margin-top: 16px;
}
.margin-top-ex{
  border: 2px solid rgba(255, 93, 241, 0.8);
  display: flex;
  float: left;
}
.margin-middle{
  float: left;
}
.margin-bottom{
  float: left;
  border: 2px solid rgba(255, 93, 241, 0.8);
  display: flex;
}
.rec1, .rec3 {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: rgba(62, 24, 199, 0.28);
  border: 3px solid rgba(83, 172, 255, 0.808);
  border-bottom: none;
}
.rec2, .rec8 {
  width: 228px;
  height: 33px;
  display: inline-block;
  background-color: rgba(235, 150, 228, 0.219);
  text-align: center;
  line-height: 33px;
}
.rec4, .rec6 {
  width: 30px;
  height: 138px;
  border-left: 3px solid rgba(83, 172, 255, 0.808);
  border-right: 3px solid  rgba(83, 172, 255, 0.808);
  background-color: rgba(83, 172, 255, 0.308);
  display: inline-block;
  float: left;
  text-align: center;
  line-height: 138px;
}
.rec4{
  margin-left: 2px;
}
.rec5{
  width: 228px;
  height: 138px;
  display: inline-block;
  background-color: rgba(107, 115, 126, 0.3);
  float: left;
}
.rec7, .rec9 {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: rgba(62, 24, 199, 0.28);
  border: 3px solid  rgba(83, 172, 255, 0.808);
  border-top: none;
}

#r1, #r3{
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: rgba(62, 24, 199, 0.28);
}
#r2 {
  width: 228px;
  height: 30px;
  display: inline-block;
  background-color: rgba(107, 115, 126, 0.3);
}
#r1f, #r3f{
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: rgba(62, 24, 199, 0.28);
  float: left;
}
#r2f {
  width: 228px;
  height: 30px;
  display: inline-block;
  background-color: rgba(107, 115, 126, 0.3);
  float: left;
}
#flex-example{
  clear: left;
}
