/*-------------
 CSS RESET 
--------------*/

* {
  padding: 0;
  border: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}


/*
* Base structure
*/

html,
body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

/*overall*/
a {
  text-decoration: none !important;
}
* {
  font-family: "Avenir", "Monospaced Number", "Chinese Quote", -apple-system,
    "BlinkMacSystemFont", "Segoe UI", "Roboto,PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0px;
  color: rgb(109, 109, 109);
}

h2 {
  font-size: 1.5em;
  font-style: italic;
  line-height: 40px;
  margin : 0 0 16px 0;
}

h3 {
  font-size: 1.2em;
  font-style: italic;
  line-height: 40px;
  margin : 0 0 16px 0;
}

p {
  font-size: 1em;
  margin-bottom : 14px;
}

ul {
  padding-left: 16px;
}
.highlight-green {
  background-color: rgba(84, 185, 118, 30%);
}
.highlight-blue {
  background-color: rgba(83, 172, 255, 0.308);
}
.highlight-pink {
  background-color: rgba(235, 150, 228, 0.219);
}
.underline {
  width: 100%;
  border-bottom: 1px solid rgba(109, 109, 109, 0.5);
  margin-bottom: 16px;
}

/*index*/

.header_gn {
  width: 250px;
  height: 100%;
  position: fixed;
}

.index-container {
  height: 24px;
  padding: 24px;
}
.index {
  text-align: left;
  font-size: 16px;
  color: black;
  line-height: 40px;
}
.index-container:hover {
  transform: scale(1.01);
  transition: all ease-in;
}

.index-inner {
  color: black;
  opacity: 0.5;
  font-size: 13px;
  margin: 0 auto;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  text-overflow: ellipsis;
}

/*wrapper영역*/

.wrapper {
  padding-left: 250px;
}

#wrapper_bg {
  background-color: white;
}
#home_bg {
  background-color: #3f2afe;
  height: 1000px;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.body_container {
  padding: 70px;
}

.title {
  padding-left: 100px;
  display: inline-block;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: #c9f42e;
  letter-spacing: 0.5em;
  margin: 88px auto 32px auto;
}

.title:hover {
  padding-left: 10px;
  text-decoration: red line-through;
}

.sub-title {
  padding-left: 100px;
  display: block;
  text-align: left;
  font-size: 100px;
  line-height: 120px;
  font-weight: 900;
  color: #0e0436;
  background-color: #c9f42e;
  margin: 8px auto 40px auto;
}
.sub-title:hover {
  background-color: transparent;
  color: #fff;
}
.guess1 {
  background-color: #9176ff;
  width: 520px;
  height: 442px;
  display: inline-block;
  float: left;
  margin-left: 20px;
}
.guess1:hover {
  background-color: #9176ff;
  transform: scale(0.0001) rotate(360deg);
  transition: all 25s ease-out;
}
.guess2 {
  background-color: #ff4700;
  width: 180px;
  height: 180px;
  display: inline-block;
  position: absolute;
  top: 500px;
  left: 800px;
  transform: rotate(45deg);
}
.guess2:hover {
  background-color: rgb(212, 0, 255);
  width: 180px;
  height: 180px;
  display: inline-block;
  position: absolute;
  top: 300px;
  border-radius: 90px;
  transform: rotate(3000deg);
  transition: all 2s ease-in;
}
.guess3 {
  background-color: rgb(255, 213, 27);
  width: 240px;
  height: 360px;
  display: inline-block;
  position: absolute;
  top: 640px;
  right: 60px;
}
.guess3:hover {
  background-color: rgb(255, 213, 27);
  width: 240px;
  height: 360px;
  display: inline-block;
  position: absolute;
  top: 540px;
  right: 180px;
  box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.39);
  transition: all 4s ease-out;
}
.btn-basic {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  text-align: center;
  font-weight: 500;
  line-height: 100px;
  color: #fff;
  background-color: #07061d;
  margin: 0px auto;
  position: absolute;
  top: 650px;
  left: 510px;
}
.btn-basic:hover {
  box-shadow: 0 -5px 40px 0 rgba(0, 0, 0, 0.39);
  transform: rotate(12600deg);
  transition: all 1s;
}

/*내용영역*/

.contributors div {
  color: rgb(44, 33, 199);
  font-weight: 900;
}

.summary_title {
  color: #0e0436;
  text-align: left;
  font-size: 72px;
  line-height: 120px;
  font-weight: 900;
}

a.reference-link {
  font-weight: 500;
  line-height: 1.5em;
  color: #4d8bfd;
  margin: 40 auto;
  display: block;
}

a.reference-link-sub {
  font-weight: 300;
  font-size: .8em;
  color: #4d8bfd;
  margin: 40 auto;
  display: block;
}

.contents {
  padding: 24px 16px;
  margin: 16px 0;
}
.content-title {
  margin: 0 0 16px 0;
  display: block;
  font-size: 24px;
  font-style: italic;
  line-height: 40px;
}
.writer {
  font-size: 12px;
  line-height: 40px;
  float: right;
}
.comment {
  font-size: 12px;
  font-style: italic;
}
.content-subtitle {
  font-weight: bold;
  margin-bottom: 8px;
}
.description {
  margin-bottom: 16px;
  display: block;
}
.example-code {
  font-family: "IBMPlexMono", "UbuntuMono", monospace, serif;
  font-size: 14px;
  margin-bottom: 24px;
  line-height: 1.6em;
  background-color: #f1f3f5;
  border-radius: 4px;
  padding: 24px 32px;
  margin: 16px 0;
  display: block;
}
.practice-container {
  padding: 24px 32px;
  margin: 16px 0;
  border-radius: 16px;
  background-color: #fafcff;
}
.check-container {
  padding: 24px 32px;
  margin: 16px 0;
  border-radius: 16px;
  background-color: #f9f9f9;
}
.sub-contents-container {
  display: flex;
  width: 100%;
}
.sub-contents-left {
  display: inline-block;
  width: 30%;
}
.sub-contents-right {
  display: inline-block;
  width: 70%;
  padding: 8px 16px;
}

.example-img img {
  width: 100%;
}
.example-img img:hover {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.23);
}
#margin-ex1 {
  display: inline-block;
  position: absolute;
  align-content: center;
  height: 154px;
  margin: 32px 0 0 16px;
}
#float-right {
  display: inline-block;
}

/*shapes*/
#margin-ex-container {
  display: flex;
  width: 100%;
}
#margin-ex-code {
  display: flex;
  margin-left: 24px;
  width: 754px;
}
.margin-ex1 {
  position: relative;
  display: inline-block;
  width: 310px;
  margin-top: 16px;
}
.margin-top-ex {
  border: 2px solid rgba(255, 93, 241, 0.8);
  display: flex;
  float: left;
}
.margin-middle {
  float: left;
}
.margin-bottom {
  float: left;
  border: 2px solid rgba(255, 93, 241, 0.8);
  display: flex;
}
.rec1,
.rec3 {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: rgba(62, 24, 199, 0.28);
  border: 3px solid rgba(83, 172, 255, 0.808);
  border-bottom: none;
}
.rec2,
.rec8 {
  width: 228px;
  height: 33px;
  display: inline-block;
  background-color: rgba(235, 150, 228, 0.219);
  text-align: center;
  line-height: 33px;
}
.rec4,
.rec6 {
  width: 30px;
  height: 138px;
  border-left: 3px solid rgba(83, 172, 255, 0.808);
  border-right: 3px solid rgba(83, 172, 255, 0.808);
  background-color: rgba(83, 172, 255, 0.308);
  display: inline-block;
  float: left;
  text-align: center;
  line-height: 138px;
}
.rec4 {
  margin-left: 2px;
}
.rec5 {
  width: 228px;
  height: 138px;
  display: inline-block;
  background-color: rgba(107, 115, 126, 0.3);
  float: left;
}
.rec7,
.rec9 {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: rgba(62, 24, 199, 0.28);
  border: 3px solid rgba(83, 172, 255, 0.808);
  border-top: none;
}

#r1,
#r3 {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: rgba(62, 24, 199, 0.28);
}
#r2 {
  width: 228px;
  height: 30px;
  display: inline-block;
  background-color: rgba(107, 115, 126, 0.3);
}
#r1f,
#r3f {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: rgba(62, 24, 199, 0.28);
  float: left;
}
#r2f {
  width: 228px;
  height: 30px;
  display: inline-block;
  background-color: rgba(107, 115, 126, 0.3);
  float: left;
}
#flex-example {
  clear: left;
}
